<!DOCTYPE html>
<html>
  <head>
      <meta charset="utf-8" />
      <meta name="viewport" content="width=device-width,initial-scale=1" />
      <title>Python 2 C++ translation and optimization</title>
      <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
      <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
      <script
        src="https://code.jquery.com/jquery-3.7.1.min.js"
        integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo="
        crossorigin="anonymous"></script>
      <script type="text/javascript">// <![CDATA[
        function loading(){
            $("#loading").show();
            $("#content").hide();       
        }
      // ]]></script>
  </head>
  <body>
    <div id="loading"></div>
    <div id="content">
      <h1>Python2C++</h1>
      <form method="post">
        <textarea name="python" rows="20" cols="50" placeholder="Enter your python code here..."></textarea>
        <input type="submit" value="Translate to C++" onclick="loading();">
      </form>
    </div>
  </body>
</html>
